<%-include ('partials/header')%>

<div class="container">
    
    <h1 class="text-white">News</h1>
    <div class="admin mt-3">
        <form action="/commit" method="post">
            <label for="newsTitle" class="text-white">News Title</label>
            <input type="text" id="commit" class="form-control" name="newsTitle">
            <label for="newsText" class="text-white">News</label>
            <textarea name="newsText" class="form-control" rows="3"></textarea>
            <label for="imgae" class="text-white">Image URL</label>
            <input type="text" name="image" class="form-control" placeholder="url">
            <button type="submit" class="btn btn-primary mx-auto" name="news" value="news">Publish</button>
        </form>
    </div>
</div>





<%-include ('partials/footer')%>